p#p1 {
    position:absolute;
    top:89%;
    left:84%
}

dl.listing {
    font-size: 12px;
}

body.listing {
    background: #FBB917;
}

a:link, a:visited {
    text-decoration: none;
    color: midnightblue;

}
a:hover {
    text-decoration: underline;
    color: brown;
}
a:active {
    text-decoration: none
}

a.classe1:link, a.classe1:visited {
    text-decoration: none;
    color: indigo;
}
a.classe1:hover {
    text-decoration: underline;
    color: indigo;
}
a.classe1:active {
    text-decoration: none;
    color: indigo;
}


b.listing {
    color: #151B54;
}

div.mainEvent {
    width: 95%;
    margin-top:30px;
    margin-bottom:20px;
    margin-right:10px;
    margin-left:30px;
    font-size: 90%;
}

div.footer {
    background-color: #1C4E63;
    color: #ffd700;
    width: 100%;
    padding: 0.9px 0 0.9px 0;
    text-align: center;
    font-size: 70%;
    font-weight:700;
}

