html,
body {
   margin:0;
   padding:0;
   width: 100%
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   /*background: #FBB917;*/
}

#list{
    transform:rotate(30deg);
   float: left;
    left:0;
    width: 250px;
    min-height:100%;
    padding-left: 20px;
    padding:1px;
    background: #FBB917;
    padding-bottom: 60px;   /* Height of the footer */
}

#page {
  float: left;
   left: 250px;
/*   max-height: inherit;*/
   padding: 10px;
}

footer {
   position:absolute;
   bottom: 0;
   width: 100%;
   height: 40px;   /* Height of the footer */
   padding: 10px 10px 0px 10px;
   margin: auto;
   background: #1c4e63;
   color: #ffd700;
   text-align: center;
   font-size: 80%;
   font-weight: 500;
}
